<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150269270635-qf8mv4hj8jicp1jq68c1vetddtcombad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150269270635-qf8mv4hj8jicp1jq68c1vetddtcombad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150269270635-0e8o5s5glub7bslu6kfcilkq5l2evtkm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwjJnGddQMoP4lqF94rjhvs4whKgpbXy4</string>
	<key>GCM_SENDER_ID</key>
	<string>150269270635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.komplech.event</string>
	<key>PROJECT_ID</key>
	<string>komplech</string>
	<key>STORAGE_BUCKET</key>
	<string>komplech.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150269270635:ios:3bb50c887e6a43cdfaef2e</string>
</dict>
</plist>